<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><em>Published on: <%= @post.published_at.present? ? @post.published_at.strftime("%B %d, %Y") : "Not published yet" %></em></p>

<h3>Comments</h3>
<%= form_with(model: [@post, @comment]) do |form|%>
    <%= form.text_area :body, placeholder: 'Write a comment...' %>
    <%= form.submit %>
<% end %>

<% @comments.each do |comment| %>
    <p><%= comment.body %></p>
<% end %>
<%= button_to 'Back to Posts', posts_path %> | 
<%= button_to 'Edit', edit_post_path(@post) %> | 
