<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><em>Published on: <%= @post.published_at.present? ? @post.published_at.strftime("%B %d, %Y") : "Not published yet" %></em></p>

<%= link_to 'Back to Posts', posts_path %> | 
<%= link_to 'Edit', edit_post_path(@post) %> | 
