<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><em>Published on: <%= @post.published_at.present? ? @post.published_at.strftime("%B %d, %Y") : "Not published yet" %></em></p>

<h3>Comments</h3>
<%= form_for(model: [@post, @comment]) do |f|%>
    <%= ftext_area :body, placeholder: 'Write a comment...' %>
    <%= f.submit %>
<% end %>

<% @comments.each do |comment| %>
    <p><%= comment.body %></p>
<% end %>

<%= form_for(model: [@post, @like]) do |f| %>
  <%= f.submit "Like" %>
<% end %>

<p><%= @post.likes.count %> likes</p>
<%= button_to 'Back to Posts', posts_path %> | 
<%= button_to 'Edit', edit_post_path(@post) %> | 
